<div [ngStyle]="{'color':themeData.colorPrimary}" class="landing-container">
  <h1>Hello, I'm Nikhil!</h1>
  <span>Full Stack Dev | Open Source Enthusiast | Gamer</span>
  <div class="icons">

    <a  href="https://github.com/nikhilkadyan"
        [ngStyle]="{'color':themeData.colorPrimary}">
      <i class="fab fa-github"></i>
    </a>
      
    <a  href="https://twitter.com/kadyanikhil"
        [ngStyle]="{'color':themeData.colorPrimary}">
      <i class="fab fa-twitter"></i>
    </a>

    <a  href="https://www.instagram.com/nikhil_kadyan_/"
        [ngStyle]="{'color':themeData.colorPrimary}">
      <i class="fab fa-instagram"></i>
    </a>

    <a  href="https://in.linkedin.com/in/nikhil-kadyan-4a6374134"
        [ngStyle]="{'color':themeData.colorPrimary}">
      <i class="fab fa-linkedin"></i>
    </a>
  </div>

  <div class="bottom-nav" [ngStyle]="{ 'color': themeData.colorPrimary }">
      <div class="scroll-text">About Me</div>
      <button class="fas fa-chevron-down fa-2x" href="#"></button>
  </div>

</div>