nav{
  width:100%;
  top:0;
  left:0;
  padding: 3px 5px;
  position: fixed;
  .themeChange{
    float:left;
    font-size: 5vh;
    margin-top: -3px;
    animation: 0.8s bounce-xy infinite;
    &:hover{
      cursor: pointer;
    }
  }
  .menu_item{
    float: right;
    margin: 0px 10px 5px 20px;
    padding: 4px 2px 7px 2px;
    font-size: 22px;
    &:hover{
      border-bottom: 1px solid;
    }
  }
  @keyframes bounce-xy {
    0%,
    20%,
    50%,
    80%,
    100% {
      transform: translateY(0) translateX(0);
    }
    40% {
      transform:translateX(15px);
    }
    60% {
      transform:translateX(5px);
    }
  }
}